<form action="{% url "budget.views.delete_account" id=account.id %}" method="POST">
{% csrf_token %}
{% if account.transactions.all %}
<p>
    The account {{ account }} still has active transactions. Please delete them.
</p>
<div class="btn-group">
    <a href="{{ next }}" class="btn btn-default">OK</a>
</div>
{% else %}
<p>
    Are you sure you want to delete the account {{ account }}
</p>
<div class="btn-group">
    <input type="hidden" name="next" value="{{ next }}">
    <input type="submit" class="btn btn-default" value="Yes"></input>
    <a href="{{ next }}" class="btn btn-default">No</a>
</div>
{% endif %}
</form>
